@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.el1{
  margin-top: 0px;
}
.el2{
  margin-top: 0px;
}
#img1{
  margin: 21px;
  margin-left: -58px;
}
#img2{
  margin: 21px;
  margin-left: -58px;
}
#img3{
  margin: 21px;
  margin-left: -85px;
}
#img4{
  margin: 21px;
  margin-left: -60px;
}
#img5{
  margin: 21px;
  margin-left: -109px;
}
#title1{
  margin-left: 10px;
}
#title2{
  margin-left: 10px;
}
#title3{
  margin-left: 10px;
}
#title4{
  margin-left: 10px;
}
#title5{
  margin-left: 10px;
}
a{
  color:#858585;
  text-decoration: none;
}
a:hover{
  color: #1C1C1C;
}
a:active{
  color: #1C1C1C;
}
.r1{
  width: 207px;
  height: 73px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.sideBar{
  height: 100%;
  width: 250px;
  background-color:  white;
  border-right: 1px solid #858585;
}
.sideBar2{
  height: 100%;
  width: 80px;
  background-color:  #4D85F1;
  border-right: 1px solid #858585;
}
#setting{
  margin: 21px;
  margin-left: -58px;
}
.icons{
  
  width: 20px;
  height: 20px;
}
.icon-2{
  width: 25px;
  height: 25px;
}
.r2{
  width: 100px;
  height: 73px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: -18px;
}
#image-1{
  margin-top: 27px;
  width: 35px;
  height: 35px;
}
#image-2{
  margin-top: 37px;
}
#image-3{
  margin-top: 43px;
}
#image-4{
  margin-top: 50px;
}
#image-5{
  margin-top: 56px;
}
#image-6{
  margin-top: 60px;
}
#image-7{
  width: 40px;
  height: 40px;
  margin-top: 85px;
  margin-left: -6px;
}