@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
#profile-img{
    width: 50px;
    height: 50px;
    border-radius: 500px;
    margin-left: 450px;
    margin-top: 10px;
}
.edit-profile{
    display: flex;
    flex-direction: row;
}
.container{
    margin: 20px;
    margin-left: 65px;
}
label, input{
    display: flex;
    flex-direction: column;
}
.nameSec{
    display: flex;
    flex-direction: row;
}
.date{
    display: flex;
    flex-direction: row;
}
.fname{
    margin-right: 10px;
}
.lname{
    margin-left: 10px;
}
.sdate{
    margin-right: 10px;
}
.edate{
    margin-left: 10px;
}
.fields{
    width: 600px;
    height: 33px;
    border: 1px solid black;
    border-radius: 5px;
}
.Name{
    width: 287px;
    height: 33px;
    border: 1px solid black;
    border-radius: 5px;
}
.Cdate{
    width: 287px;
    height: 33px;
    border: 1px solid black;
    border-radius: 5px;
}
.section{
    margin-bottom: 15px;
    margin-top: 15px;
}
.fields{
    margin-bottom: 15px;
}
label{
    margin-bottom: 1.5px;
    font-weight: 600;
}
.form{
    margin-top: 10px;
}
.btns{
    display: flex;
    flex-direction: row;
}
.btn{
    width: 130px;
    height: 35px;
    background-color: #086BFF;
    border: 2px solid #086BFF;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
}
.btn:hover{
    background-color: white;
    color: #086BFF;
}
#cancelBtn{
    margin-right: 10px;
}
#submitBtn{
    margin-left: 10px;
}